<h2>Register as a Manager</h2>

<div class="row">
  <div class="col-md-8">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@user.errors.count, "error") %>.</hr>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <%= form_group_tag(@user.errors[:first_name]) do %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder:"Enter first name" %>
      <% end %>
      <%= form_group_tag(@user.errors[:last_name]) do %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder:"Enter last name" %>
      <% end %>


        <%= fields_for @team do |t| %>
          <%= form_group_tag(@user.errors[:last_name]) do %>
            <%= t.label :team %>
            <%= t.collection_select :id, Team.all, :id, :name, class: 'form-control'%>
          <% end %>

        <% end %>


      <%= form_group_tag(@user.errors[:email]) do %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control', placeholder: "Enter email" %>
      <% end %>
      <%= form_group_tag(@user.errors[:cell]) do %>
        <%= f.label :cell %>
        <%= f.text_field :cell, class: 'form-control', placeholder: "Enter cell (xxx) 555-5555" %>
      <% end %>
      <%= form_group_tag(@user.errors[:password]) do %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
      <% end %>
      <%= form_group_tag(@user.errors[:password_confirmation]) do %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm password" %>
      <% end %>
      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
