<div class=col-md-6>
<h2 class="text-center">Standings</h1>

<div class="row left-margin-10px">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
      <h3>W</h3>
    </div>
    <div class="col-md-2">
      <h3>L</h3>
    </div>
    <div class="col-md-2">
      <h3>Pct.</h3>
    </div>
    <div class="col-md-2">
      <h3>GB</h3>
    </div>
  </div>
  <% @teams.each do |t| %>
    <div class="row">

      <div class="col-md-4">
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">
              <%= link_to t.name, t %>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-2">
            <div class="media">
              <div class="media-body">
                <h3 class="media-heading">
                  <%= t.wins %>
                </h3>
              </div>
            </div>
      </div>
      <div class="col-md-2">
            <div class="media">
              <div class="media-body">
                <h3 class="media-heading">
                  <%= t.losses %>
                </h3>
              </div>
            </div>
      </div>
      <div class="col-md-2">
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading">
              <% if t.winning_percentage %>
                <%= t.winning_percentage %>
              <% end %>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-2">
            <div class="media">
              <div class="media-body">
                <h3 class="media-heading">
                  <% if t.games_back %>
                    <%= t.games_back %>
                  <% end %>
                </h3>
              </div>
            </div>
      </div>
    </div>
  <% end %>
</div>
</div>
