





<row class='col-md-12 left-margin-10px stats-table'>

  <table class="table table-responsive score-table">
    <thead>
      <tr>
        <th></th>
        <th><h1 class='RHE'>R</h1></th>
        <th><h1 class='RHE'>H</h1></th>
        <th><h1 class='RHE'>E</h1></th>
      </tr>
    </thead>
    <tbody>



<%= form_tag(game_path, method: "put") do %>

    <%= fields_for 'game', @game do |g| %>

        <tr>
          <td>
            <h1 class='team-score'><%= @game.visitors.name %></h1>
          </td>
          <td> <h1 class='team-score'>
              <%= g.number_field :visitor_runs, min: 0, class: 'field form-control'%>
              </h1>
          </td>
          <td><h1 class='team-score'><%= g.number_field :visitor_hits, min: 0, class: 'field form-control'%></h1>
          </td>
          <td><h1 class='team-score'><%= g.number_field :visitor_errors, min: 0, class: 'field form-control'%></h1>
          </td>
        </tr>
        <tr>
          <td>
            <h1 class='team-score'><%= @game.home.name %></h1>
          </td>
          <td>
              <h1 class='team-score'><%= g.number_field :home_runs, min: 0, class: 'field form-control'%></h1>
          </td>
          <td>
              <h1 class='team-score'><%= g.number_field :home_hits, min: 0, class: 'field form-control'%></h1>
          </td>
          <td>
              <h1 class='team-score'><%= g.number_field :home_errors, min: 0, class: 'field form-control'%></h1>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</row>

  <row class='col-md-12 left-margin-10px stats-table'>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
              <th>Name</th>
              <th>AB</th>
              <th>PA</th>
              <th>1b</th>
              <th>2b</th>
              <th>3b</th>
              <th>Hr</th>
              <th>BB</th>
              <th>E</th>
              <th>FC</th>
              <th>HB</th>
              <th>SB</th>
              <th>RBI</th>
              <th>R</th>
              <th>ER</th>
              <th>SAC</th>
              <th>K</th>
        </tr>

      <tbody>

  <!-- <row class='col-md-12'> -->
    <% @players.each_with_index do  |player, i| %>
      <%= fields_for 'players[]', player do |p| %>
      <!-- -->
        <% player_hitting_stats = player.game_hitting_stats.find{|hs| hs.game_id == @game.id} %>
        <% if player_hitting_stats %>
          <%= p.hidden_field(:id) %>
          <%= fields_for 'game_hitting_stats[]', player_hitting_stats do |f| %>
            <tr>
                <td class='col-md-2'> <%= player.last_name %> </td>

                <td><%= f.number_field :ab, min: 0, class: 'col-md-3 stats-input' %></td>
                <td><%= f.number_field :pa, min: 0, class: 'col-md-3 stats-input'%></td>
                <td><%= f.number_field :single, min: 0, class: 'col-md-3 stats-input' %></td>
                <td><%= f.number_field :double, min: 0, class: 'col-md-3 stats-input'%></td>
                <td><%= f.number_field :triple, min: 0, class: 'col-md-3 stats-input' %></td>
                <td><%= f.number_field :hr, min: 0, class: 'col-md-3 stats-input'%></td>
                <td><%= f.number_field :bb, min: 0, class: 'col-md-3 stats-input' %></td>
                <td><%= f.number_field :error, min: 0, class: 'col-md-3 stats-input'%></td>
                <td><%= f.number_field :fc, min: 0, class: 'col-md-3 stats-input' %></td>
                <td><%= f.number_field :hb, min: 0, class: 'col-md-3 stats-input'%></td>
                <td><%= f.number_field :sb, min: 0, class: 'col-md-3 stats-input' %></td>
                <td><%= f.number_field :rbi, min: 0, class: 'col-md-3 stats-input'%></td>

                <td><%= f.number_field :r, min: 0, class: 'col-md-3 stats-input' %></td>
                <td><%= f.number_field :earned_run, min: 0, class: 'col-md-3 stats-input'%></td>
                <td><%= f.number_field :sac, min: 0, class: 'col-md-3 stats-input' %></td>
                <td><%= f.number_field :k, min: 0, class: 'col-md-3 stats-input'%></td>
            </tr>
          <% end %>
         <% end %>

      <% end %>
    <% end %>

    </tbody>
    </table>
  </row>

    <row class='col-md-12 left-margin-10px'>
    </row>
    <row class='col-md-12 left-margin-10px'>
      <div class='col-md-6 stats-table'>
        <div class='col-md-2'>Name</div>
        <div class='col-md-10 stats-table'>

            <div class="col-md-1">
              <p>Retired</p>
            </div>
            <div class="col-md-1">
              <p>R</p>
            </div>
            <div class="col-md-1">
              <p>ER</p>
            </div>
            <div class="col-md-1">
              <p>SV</p>
            </div>
            <div class="col-md-1">
              <p>CG</p>
            </div>
            <div class="col-md-1">
              <p>BF</p>
            </div>
            <div class="col-md-1">
              <p>BB</p>
            </div>
            <div class="col-md-1">
              <p>H</p>
            </div>
            <div class="col-md-1">
              <p>1B<p>
            </div>
            <div class="col-md-1">
              <p>2B</p>
            </div>
            <div class="col-md-1">
              <p>3B</p>
            </div>
            <div class="col-md-1">
              <p>HR</p>
            </div>
        </div>
      </div>
      <div class="col-md-6 stats-table">
          <div class="col-md-12 stats-table">

            <div class="col-md-1">
              <p>K</p>
            </div>
            <div class="col-md-1">
              <p>WP</p>
            </div>
            <div class="col-md-1">
              <p>HB</p>
            </div>
            <div class="col-md-1">
              <p>BK</p>
            </div>
            <div class="col-md-1">
              <p>SB</p>
            </div>
          </div>
      </div>
    </row>

    <% @players.each_with_index do  |player, i| %>
      <% if player.positions.include?(Position.find(1)) %>
        <%= fields_for 'players[]', player do |p| %>
          <% player_pitching_stats = player.game_pitching_stats.find{|ps| ps.game_id == @game.id} %>
          <%= p.hidden_field(:id) %>

          <% if player_pitching_stats %>
            <%= fields_for 'game_pitching_stats[]', player_pitching_stats do |f| %>
              <row class='col-md-12 left-margin-10px'>
                <div class='col-md-6 stats-table'>
                  <div class='col-md-2'> <%= player.last_name %> </div>
                  <div class='col-md-10 stats-table'>
                        <%= f.number_field :batters_retired, min: 0, class: 'col-md-1' %>
                        <%= f.number_field :r, min: 0, class: 'col-md-1'%>
                        <%= f.number_field :er, min: 0, class: 'col-md-1' %>
                        <%= f.number_field :sv, min: 0, class: 'col-md-1' %>
                        <%= f.number_field :cg, min: 0, class: 'col-md-1'%>
                        <%= f.number_field :bf, min: 0, class: 'col-md-1'%>
                        <%= f.number_field :bb, min: 0, class: 'col-md-1' %>
                        <%= f.number_field :h, min: 0, class: 'col-md-1'%>
                        <%= f.number_field :single, min: 0, class: 'col-md-1' %>
                        <%= f.number_field :double, min: 0, class: 'col-md-1'%>
                        <%= f.number_field :triple, min: 0, class: 'col-md-1' %>
                        <%= f.number_field :hr, min: 0, class: 'col-md-1'%>
                  </div>
                </div>
                <div class='col-md-6 stats-table'>
                  <div class='col-md-12 stats-table'>
                        <%= f.number_field :k, min: 0, class: 'col-md-1' %>
                        <%= f.number_field :wp, min: 0, class: 'col-md-1'%>
                        <%= f.number_field :hb, min: 0, class: 'col-md-1'%>
                        <%= f.number_field :bk, min: 0, class: 'col-md-1' %>
                        <%= f.number_field :sb, min: 0, class: 'col-md-1'%>
                  </div>
                </div>
              </row>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
    <% end %>




  <row class='col-md-12'>
    <%= submit_tag "Save", class: 'btn btn-success' %>
  </row>
<% end %>
