
<%= form_tag(game_path, method: "put") do %>
  <div class='form-group col-md-6'>
    <%= fields_for 'game', @game do |g| %>


        <row class='col-md-12'>

          <div class='col-md-4'>
            <h1 class='team-score'><%= @game.visitors.name %></h1>
          </div>
          <div class='col-md-8'>
            <div class='col-md-4'>
              <%= g.number_field :home_runs, class: 'form-control'%>
            </div>
            <div class='col-md-4'>
              <%= g.number_field :home_hits, class: 'form-control'%>
            </div>
            <div class='col-md-4'>
              <%= g.number_field :home_errors, class: 'form-control'%>
            </div>
          </div>
        </row>


        <row class='col-md-12'>
          <div class='col-md-4'>
            <h1 class='team-score'><%= @game.home.name %></h1>
          </div>
          <div class='col-md-8'>
            <div class='col-md-4'>
              <%= g.number_field :visitor_runs, class: 'form-control'%>
            </div>
            <div class='col-md-4'>
              <%= g.number_field :visitor_hits, class: 'form-control'%>
            </div>
            <div class='col-md-4'>
              <%= g.number_field :visitor_errors, class: 'form-control'%>
            </div>
          </div>
        </row>


    <% end %>
  </div>

  <row class='col-md-12'>


    <% @players.each_with_index do  |player, i| %>
      <%= fields_for 'players[]', player do |p| %>
        <% player_hitting_stats = player.game_hitting_stats.find{|hs| hs.game_id == @game.id} %>
        <%= fields_for 'game_hitting_stats[]', player_hitting_stats do |f| %>
          <row class='col-md-12'>
            <div class='col-md-2'> <%= player.last_name %> </div>
            <div class='col-md-10'>
              <div class='col-md-2'> <%= p.text_field :last_name %> </div>
              <div class='col-md-2'>
                  <%= f.number_field :ab %>
              </div>
              <div class='col-md-2'>
                  <%= f.number_field :pa %>
              </div>
            </div>
          </row>
        <% end %>
      <% end %>
    <% end %>
    <%= submit_tag "Save", class: 'btn btn-success' %>
  </row>
<% end %>
