<row class='col-md-12'>
  <row class='col-md-6'>
    <div class='col-md-4'>

    </div>
    <div class='col-md-8'>
      <div class='col-md-4'>
        <h1 class='RHE'>R</h1>
      </div>
      <div class='col-md-4'>
        <h1 class='RHE'>H</h1>
      </div>
      <div class='col-md-4'>
        <h1 class='RHE'>E</h1>
      </div>
    </div>
  </row>
</row>


<%= form_tag(game_path, method: "put") do %>
  <div class='form-group col-md-12'>
    <%= fields_for 'game', @game do |g| %>

        <div class= 'col-md-12'>
        <row class='col-md-6'>
          <div class='col-md-4'>
            <h1 class='team-score'><%= @game.visitors.name %></h1>
          </div>
          <div class='col-md-8'>
            <div class='col-md-4'>
              <%= g.number_field :visitor_runs, class: 'form-control'%>
            </div>
            <div class='col-md-4'>
              <%= g.number_field :visitor_hits, class: 'form-control'%>
            </div>
            <div class='col-md-4'>
              <%= g.number_field :visitor_errors, class: 'form-control'%>
            </div>
          </div>
        </row>
        </div>

        <div class='col-md-12'>
        <row class='col-md-6'>
          <div class='col-md-4'>
            <h1 class='team-score'><%= @game.home.name %></h1>
          </div>
          <div class='col-md-8'>
            <div class='col-md-4'>
              <%= g.number_field :home_runs, class: 'form-control'%>
            </div>
            <div class='col-md-4'>
              <%= g.number_field :home_hits, class: 'form-control'%>
            </div>
            <div class='col-md-4'>
              <%= g.number_field :home_errors, class: 'form-control'%>
            </div>
          </div>
        </row>
        </div>
    <% end %>
  </div>

          <row class='col-md-12 left-margin-10px'>
            <div class='col-md-6 stats-table'>
              <div class='col-md-2'>Name</div>
              <div class='col-md-10 stats-table'>
                <div class="col-md-1">
                  <p>AB</p>
                </div>
                <div class="col-md-1">
                  <p>PA</p>
                </div>
                <div class="col-md-1">
                  <p>1b</p>
                </div>
                <div class="col-md-1">
                  <p>2b</p>
                </div>
                <div class="col-md-1">
                  <p>3b</p>
                </div>
                <div class="col-md-1">
                  <p>Hr</p>
                </div>
                <div class="col-md-1">
                  <p>BB</p>
                </div>
                <div class="col-md-1">
                  <p>E</p>
                </div>
                <div class="col-md-1">
                  <p>FC</p>
                </div>
                <div class="col-md-1">
                  <p>HB</p>
                </div>
                <div class="col-md-1">
                  <p>WP</p>
                </div>
                <div class="col-md-1">
                  <p>PB</p>
                </div>
              </div>
            </div>
            <div class='col-md-6 stats-table'>
              <div class='col-md-12 stats-table'>
                <div class="col-md-1">
                  <p>SB</p>
                </div>
                <div class="col-md-1">
                  <p>RBI</p>
                </div>
                <div class="col-md-1">
                  <p>R</p>
                </div>
                <div class="col-md-1">
                  <p>ER</p>
                </div>
                <div class="col-md-1">
                  <p>SAC</p>
                </div>
                <div class="col-md-1">
                  <p>K</p>
                </div>
              </div>
            </div>

          </row>

  <!-- <row class='col-md-12'> -->
    <% @players.each_with_index do  |player, i| %>
      <%= fields_for 'players[]', player do |p| %>
      <!-- -->
        <% player_hitting_stats = player.game_hitting_stats.find{|hs| hs.game_id == @game.id} %>
        <% if player_hitting_stats %>
          <%= p.hidden_field(:id) %>
          <%= fields_for 'game_hitting_stats[]', player_hitting_stats do |f| %>
            <row class='col-md-12 left-margin-10px'>
              <div class='col-md-6 stats-table'>
                <div class='col-md-2'> <%= player.last_name %> </div>
                <div class='col-md-10 stats-table'>
                      <%= f.text_field :ab, class: 'col-md-1' %>
                      <%= f.text_field :pa, class: 'col-md-1'%>
                      <%= f.text_field :single, class: 'col-md-1' %>
                      <%= f.text_field :double, class: 'col-md-1'%>
                      <%= f.text_field :triple, class: 'col-md-1' %>
                      <%= f.text_field :hr, class: 'col-md-1'%>
                      <%= f.text_field :bb, class: 'col-md-1' %>
                      <%= f.text_field :error, class: 'col-md-1'%>
                      <%= f.text_field :fc, class: 'col-md-1' %>
                      <%= f.text_field :hb, class: 'col-md-1'%>
                      <%= f.text_field :wp, class: 'col-md-1' %>
                      <%= f.text_field :pb, class: 'col-md-1'%>
                </div>
              </div>
              <div class='col-md-6 stats-table'>
                <div class='col-md-12 stats-table'>
                      <%= f.text_field :sb, class: 'col-md-1' %>
                      <%= f.text_field :rbi, class: 'col-md-1'%>
                      <%= f.text_field :r, class: 'col-md-1' %>
                      <%= f.text_field :earned_run, class: 'col-md-1'%>
                      <%= f.text_field :sac, class: 'col-md-1' %>
                      <%= f.text_field :k, class: 'col-md-1'%>
                </div>
              </div>
            </row>
          <% end %>
         <% end %>

      <% end %>
    <% end %>




    <row class='col-md-12 left-margin-10px'>
      <div class='col-md-6 stats-table'>
        <div class='col-md-2'>Name</div>
        <div class='col-md-10 stats-table'>

            <div class="col-md-1">
              <p>IP</p>
            </div>
            <div class="col-md-1">
              <p>PIP</p>
            </div>
            <div class="col-md-1">
              <p>R</p>
            </div>
            <div class="col-md-1">
              <p>ER</p>
            </div>
            <div class="col-md-1">
              <p>SV</p>
            </div>
            <div class="col-md-1">
              <p>CG</p>
            </div>
            <div class="col-md-1">
              <p>BF</p>
            </div>
            <div class="col-md-1">
              <p>BB</p>
            </div>
            <div class="col-md-1">
              <p>H</p>
            </div>
            <div class="col-md-1">
              <p>1B<p>
            </div>
            <div class="col-md-1">
              <p>2B</p>
            </div>
            <div class="col-md-1">
              <p>3B</p>
            </div>
        </div>
      </div>
      <div class="col-md-6 stats-table">
          <div class="col-md-12 stats-table">
            <div class="col-md-1">
              <p>HR</p>
            </div>
            <div class="col-md-1">
              <p>K</p>
            </div>
            <div class="col-md-1">
              <p>WP</p>
            </div>
            <div class="col-md-1">
              <p>HB</p>
            </div>
            <div class="col-md-1">
              <p>BK</p>
            </div>
            <div class="col-md-1">
              <p>SB</p>
            </div>
          </div>
      </div>
    </row>

    <% @players.each_with_index do  |player, i| %>
      <% if player.positions.include?(Position.find(1)) %>
        <%= fields_for 'players[]', player do |p| %>
          <% player_pitching_stats = player.game_pitching_stats.find{|ps| ps.game_id == @game.id} %>
          <%= p.hidden_field(:id) %>

          <% if player_pitching_stats %>
            <%= fields_for 'game_pitching_stats[]', player_pitching_stats do |f| %>
              <row class='col-md-12 left-margin-10px'>
                <div class='col-md-6 stats-table'>
                  <div class='col-md-2'> <%= player.last_name %> </div>
                  <div class='col-md-10 stats-table'>
                        <%= f.text_field :full_innings, class: 'col-md-1' %>
                        <%= f.text_field :partial_innings, class: 'col-md-1'%>
                        <%= f.text_field :r, class: 'col-md-1'%>
                        <%= f.text_field :er, class: 'col-md-1' %>
                        <%= f.text_field :sv, class: 'col-md-1' %>
                        <%= f.text_field :cg, class: 'col-md-1'%>
                        <%= f.text_field :bf, class: 'col-md-1'%>
                        <%= f.text_field :bb, class: 'col-md-1' %>
                        <%= f.text_field :h, class: 'col-md-1'%>
                        <%= f.text_field :single, class: 'col-md-1' %>
                        <%= f.text_field :double, class: 'col-md-1'%>
                        <%= f.text_field :triple, class: 'col-md-1' %>
                  </div>
                </div>
                <div class='col-md-6 stats-table'>
                  <div class='col-md-12 stats-table'>
                        <%= f.text_field :hr, class: 'col-md-1'%>
                        <%= f.text_field :k, class: 'col-md-1' %>
                        <%= f.text_field :wp, class: 'col-md-1'%>
                        <%= f.text_field :hb, class: 'col-md-1'%>
                        <%= f.text_field :bk, class: 'col-md-1' %>
                        <%= f.text_field :sb, class: 'col-md-1'%>
                  </div>
                </div>
              </row>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
    <% end %>




  <row class='col-md-12'>
    <%= submit_tag "Save", class: 'btn btn-success' %>
  </row>
<% end %>
