New Game Form
<h1>New Game </h1>

  <div class="col-md-12">
    <%= form_for [@game] do |g| %>

      <div class="form-group">
        <row class='form-control'>
          <div class='col-md-4'>
            <%= g.label :visitors_id, "Visitors" %>
          </div>
          <div class='col-md-4'>
            <%= g.collection_select :visitors_id, Team.order(:name), :id, :name, include_blank: true %>
          </div>
        </row>
      </div>

      <div class="form-group">
        <row class='form-control'>
          <div class='col-md-4'>
            <%= g.label :home_id, "Home" %>
          </div>
          <div class='col-md-4'>
            <%= g.collection_select :home_id, Team.order(:name), :id, :name, include_blank: true %>
          </div>
        </row>
      </div>

      <%= g.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>
