<%= render partial: 'layouts/standings' %>



<div class='col-xs-12mod col-sm-12mod col-md-12mod main-div grass'>
<h1>Add New Player</h1>
  <row>
    <%= form_for [@user, @player] do |p| %>
    <div class="col-md-4 form-group">
      <%= p.text_field :first_name, class: 'form-control', placeholder: "First Name" %>
    </div>

    <div class="col-md-4 form-group">
      <%= p.text_field :last_name, class: 'form-control', placeholder: "Last Name" %>
    </div>

    <div class="col-md-4 form-group">
      <div class='col-md-4'><h4>Birthdate</h4></div>
      <div class='col-md-8'><%= p.date_field :birthdate, class: 'form-control'%></div>
    </div>
  </row>

  <row>
      <div class="col-md-4 form-group">
        <row class='form-control'>
          <div class="col-md-2">
            <%= p.radio_button :bats, "bats_left"%>
          </div>
          <div class="col-md-6">
            <%= p.label :bats, "Bats Left"%>
          </div>
        </row>

        <row class='form-control'>
          <div class="col-md-2">
            <%= p.radio_button :bats, "bats_right"%>
          </div>
          <div class="col-md-6">
            <%= p.label :bats, "Bats Right"%>
          </div>
        </row>

        <row class='form-control'>
          <div class="col-md-2">
            <%= p.radio_button :bats, "switch_hitter"%>
          </div>
          <div class="col-md-6">
            <%= p.label :bats, "Switch Hitter"%>
          </div>
        </row>
      </div>

      <div class="col-md-4 form-group">
        <row class='form-control'>
          <div class="col-md-2">
            <%= p.radio_button :throws, "throws_left"%>
          </div>
          <div class="col-md-6">
            <%= p.label :throws, "Throws Left"%>
          </div>
        </row>

        <row class='form-control'>
          <div class="col-md-2">
            <%= p.radio_button :throws, "throws_right"%>
          </div>
          <div class="col-md-6">
            <%= p.label :throws, "Throws Right"%>
          </div>
        </row>
      </div>
    </row>

    <div class='row col-md-12'>

      <div class="col-md-8 form-group">
        <h3>Positions</h3>
        <row class='form-control'>
            <%= p.collection_check_boxes :positions, Position.all, :id, :name do |b|%>
                <%= b.label do %>
                  <div class="col-md-1"><%= b.check_box %></div>
                  <div class="col-md-1"><%= b.object.name %></div>
                <% end %>

            <% end %>
        </row>
      </div>
    </div>

    <div class='col-md-12'>
      <%= p.submit "Save", class: 'btn btn-success' %>
      <% end %>
    </div
</div>
