<!DOCTYPE html>
<html>
<head>
  <title>PlayBall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <div class="container">
        <ul class="nav nav-tabs">
          <li><%= link_to "Home", welcome_index_path %></li>
          <li><%= link_to "About", welcome_about_path %></li>
          <li><%= link_to "Keep Score", "http://localhost:3001" %></li>
          <li><%= link_to "Schedule", games_path %></li>

                <div class="pull-right user-info">
                  <% if current_user %>
                       At Bat: <strong><%= current_user.first_name %></strong>
                       <%= link_to "Sign Out", session_path(current_user), method: :delete %>

                    <% else %>
                       <%= link_to "Register", new_user_path %> - <%= link_to "Sign In", new_session_path %>
                <% end %>
                </div>


        </ul>

      <div class="flash">
        <% if flash[:notice] %>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:notice] %>
            </div>
        <% elsif flash[:error] %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:error] %>
            </div>
        <% elsif flash[:alert] %>
            <div class ="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:alert] %>
            </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= image_tag("CABL-BRICK-WALLA1.png", :size => "313x313") %>
        </div>
        <div class="col-md-10">

          <%= yield %>

        </div>

      </div>

  </div>

</body>
</html>
