<!DOCTYPE html>
<html>
<head>
  <title>PlayBall</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container">
        <ul class="nav nav-tabs">
          <li><%= link_to "Home", welcome_index_path %></li>
          <li><%= link_to "About", welcome_about_path %></li>
          <li><%= link_to "Keep Score", "https://frozen-savannah-54849.herokuapp.com" %></li>
          <!-- <li><%= link_to "Keep Score", "http://localhost:3001" %></li>-->
          <!-- <li id='keep-score'><%= link_to "Keep Score", "" %></li> -->
          <li><%= link_to "Schedule", games_path %></li>
          <li id='sendTxt'><%= link_to "Send a Text Alert!", ""%></li>

          <li><button type='button' class='btn btn-info btn-lg alertTab-padding' style='display: <%=show_alerts?%>' id='alerts'><span class='glyphicon glyphicon-alert'></span>Alerts</button>
          </li>

          <div class="pull-right user-info">
            <% if current_user %>
                 At Bat: <strong><%= current_user.first_name %></strong>
                 <%= link_to "Sign Out", session_path(current_user), method: :delete %>

              <% else %>
                 <%= link_to "Register", new_user_path %> - <%= link_to "Sign In", new_session_path %>
          <% end %>
          </div>


        </ul>

      <div class="flash">
        <% if flash[:notice] %>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:notice] %>
            </div>
        <% elsif flash[:error] %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:error] %>
            </div>

        <% elsif flash[:alert] %>

            <div class ="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:alert] %>
            </div>
        <% end %>


      </div>


          <div class="flash" style='display: <%=show_alerts?%>' id='alertBox'>
              <div class = "alert alert-warning alert-dismissible " id='alertList'>
                  <button type="button" class="close" data-hide="alert" id='alertListClose'>&times;</button>
                  <% Alert.active.each do |a| %>
                    <p><%= a.content %></p>
                  <% end %>
              </div>
          </div>


        <div class='row'>
          <div class="col-xs-12mod col-sm-4 col-md-4 main-div dirt">
            <%= image_tag("CABL-BRICK-WALLA1.png", class: "cabl-img") %>
          </div>

          <%= yield %>
        </div>

    <footer>
        &copy; Copyright <%= DateTime.now.year %> hac-jac algorithms
    </footer>
  </div>

</body>

</html>
